@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  color: rgba(250, 50, 127, 0.716);
  background: rgba(173, 226, 252, 0.912);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.image {
  width: "auto";
  height: "auto";
}
